$screen-min: 321px;
$screen-xxs: 376px;
$screen-xs: 480px;
$screen-sm: 640px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1200px;
$screen-2xl: 1440px;
$screen-3xl: 1650px;

$black: #313540;
$green: #629c45;
$white: #fff;


/**

@include screen-min-up {

}

@include screen-xxs-up {

}

@include screen-xs-up {

}

@include screen-sm-up {

}

@include screen-md-up {

}

@include screen-lg-up {

}

@include screen-xl-up {

}

@include screen-2xl-up {

}

@include screen-3xl-up {

}
**/