.closed {
    position: relative;
   
    span {
        display: block;
        position: absolute;

        background-color: $green;

        &:first-child {
            rotate: 45deg;
        }

        &:last-child {
            rotate: -45deg;
        }


    }
}