.logo {
    display: flex;
    gap: 13px;

    h1 {
        font-size: clamp(1.56rem, calc(1.38rem + 0.89vw), 2.19rem);
        font-weight: 700;
        color: $black;
        
        margin: 0;
        text-transform: uppercase;
    }

    span {
        display: block;
        width: clamp(1.81rem, calc(1.56rem + 1.25vw), 2.69rem);
        height: clamp(1.81rem, calc(1.56rem + 1.25vw), 2.69rem);
    }
}