.header {
    width: 100%;
    background-color: $bgColor;
    padding: 12px 0px;


    &__wrap {
        display: grid;
        justify-content: space-between;
    
        grid-template-areas: 
            'menu logo cart'
            'search search search';

        @include screen-md-up {
            grid-template-areas: 
                'logo contacts cart'
                'search search search';
        }

        @include screen-lg-up {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.header__menu {
    grid-area: menu;
    display: flex;
    align-items: center;

    &-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include screen-md-up {
            display: none;
        }
    }

    &-burger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-text {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        padding-top: 8px;
        color: #fff;

        @include reset;
    }
}

.header__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 25px;
    color: #fff;
    letter-spacing: 5px;

    text-transform: uppercase;

    @include reset;
}

.header__search {
    grid-area: search;
    margin-top: 10px;

    @include screen-lg-up {
        margin-top: 0;
        width: 555px;
    }

    @include screen-lg-up {
        padding-left: 72px;
    }
}

.header__contacts {
    grid-area: contacts;
    display: none;

    @include screen-lg-up {
        display: grid;
        height: 32px;
        width: 40%;
        justify-content: flex-start;
        padding-left: 30px;
    }
    
    @include screen-2xl-up {
        width: 30%;
    }
    
    grid-template-areas: 
        'icon title'
        'icon value';

    &-icon {
        grid-area: icon;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        
        margin-right: 10px;
        border-radius: 32px;
        background: linear-gradient(to right, $baseGreen, $ligthGreen);
    }

    &-title {
        grid-area: title;

        color:#CFCFCF;
        font-size: 12px;
        font-weight: 400;
    }

    &-value {
        grid-area: value;

        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }

    @include reset;
}

.header__cart {
    grid-area: cart;
}
