.header {
    padding-top: 20px;

    @include screen-lg-up {
        padding-top: 0;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include screen-lg-up {
            align-items: start;
        }
    }

    &__logo {
        @include screen-lg-up {
            padding-top: 21px;
        }
    }

    &__list {
        display: none;
        padding: 52px;

        @include screen-lg-up {
            display: block;
        }
    }

    &__burger {
        @include screen-lg-up {
            display: none;
        }
    }

    @include reset;
}

.header__mobile-toggle {
    position: absolute;

    width: 100%;

    background-color: #fff;
    
    top: -100%;
    left: 0;
    
    padding: 28px 35px 0 35px;

    z-index: 10;

    box-shadow: 4px 4px 30px 0px #00000066;
    border-radius:0 0 30px 30px;
    padding-bottom: 48px;
    transition: all 0.6s ease-in-out 0.1s; 

    @include screen-lg-up {
        display: none;
    }
    
    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__active {
        top: 0;
    }

    &__list {
        padding-top: 34px;
    }

    @include reset;
}